<div class="modal-content user-edit-modal question-modal">
  <div class="modal-header">
    <h2 class="modal-title">
      {{ "Novo Segmento" }}
    </h2>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>

  <form [formGroup]="segmentForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-grid">
        <div class="field">
          <label class="field-label">Segmento</label>
          <input
            type="text"
            class="field-control"
            formControlName="name"
            placeholder="Digite o nome"
          />
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn cancel-button" (click)="closeModal()">
        Cancelar
      </button>
      <button
        type="submit"
        [disabled]="segmentForm.invalid"
        class="btn add-button-user"
      >
        {{ "Salvar" }}
      </button>
    </div>
  </form>
</div>
